:root{
    --blue:#4DD0E1;
}



*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-color: #fff;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;

}

header .logo span{
    color: var(--blue);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #fff;
}

header .navbar a:hover{
    color:#FFD700;
}

.home{
    display: flex;
    align-items: center;
    min-height: 72vh;
    background: url(imagens/PopOS.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
    background: #333;
}
.heading span{
    color: var(--blue);
}

.sobre .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.sobre .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.sobre .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem .1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}


.sobre .row .content{
    flex: 1 1 40rem;
}

.sobre .row .content h3{
    font-size: 3rem;
    color:#333;

}

.sobre .row .content p{
    font-size: 1.5rem;
    color:#333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: justify;
}
.versoes .content h1{
    font-size: 3rem;
    color:#333;

}
.versoes .content li{
    font-size: 1.5rem;
    color:#333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    align-content: center;
    text-align: justify;
}
.versoes .content ul {
    list-style-position: inside;
    list-style-type: disc;
}

.versoes .content img{
    float:right ;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem .1rem rgba(0,0,0,.1)
}
  
.Caracteristicas .content h1{
    font-size: 3rem;
    color:#333;

}
.Caracteristicas .content p{
    font-size: 1.5rem;
    color:#333;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    align-content:center;
    text-align: justify;
}
.Caracteristicas .content h3 {
    font-size: 17px;
    margin-bottom: 8px;
    color: #333;
}
  

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

  
footer {
    background-color: #222; 
    color: #fff;          
    text-align: center;   
    padding: 10px 0;      
    font-size: 14px;   
    position:relative;      
    bottom: 0;
    left: 0;
    width: 100%;
}
